*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: Arial, sans-serif;
}
:root{
    --yellow:#f9d806;
    --green:#007246;
    --light-yellow:#ffee80;
    --light-green:#8fff80;
    --light-blue:#0f00b1;
    --blue:#130f40;
    --light-color:#666;
}
header{
    padding: 1rem;
    background-color: var(--blue);
    border-bottom: black solid 1px;
    color: #f0f0f0;
    
}
a{
    text-decoration: none;
    color: #f0f0f0;
}
nav{
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
body{
    background-color: #f0f0f044;
}

#sectionDoctor{
    display: grid;
    grid-template-columns: auto auto;
}

#doctor-form, #doctors-list {
    padding: 20px;
}
h2{
    padding: 1rem;
}

form input {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    max-width: 100%;
}

button {
    padding: 10px 20px;
    background-color: var(--blue);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.5em;
}

button:hover {
    background-color: var(--light-blue);
}
.button-delete,.button-update{
    margin: 0 0.3rem;
}
ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
}

@media screen and (max-width: 670px) {
    #sectionDoctor{
        display: grid;
        grid-template-columns:  auto;
    
    }
    #doctor-form{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}
